<h1 align='center'>Programming in Python</h1>
<h1 align='center'>Week - 6</h1>

## LISTS AND SETS

In [1]:
y={1,7,6,2,4,8,1,2}   #set

In [2]:
type(y)

set

In [3]:
print(y)

{1, 2, 4, 6, 7, 8}

In [4]:
2 in y

True

In [5]:
10 in y

False

In [6]:
l=list(range(10000))

In [7]:
s=set(range(10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s=set(range(10000))   #Set takes more time to run than list.

In [9]:
-1 in l    #Data structure list is slow while searching through the list.

False

In [10]:
-1 in s    #Data structure set is very fast while searching through the set.

False

### Sets are very fast. Why to use lists then?

In [11]:
import random as r
import math as m
import numpy as np
import sys

In [12]:
l=[]
l1=[0]
l2=[0,1]

In [13]:
sys.getsizeof(l)

56

In [14]:
sys.getsizeof(l1)

64

In [15]:
sys.getsizeof(l2)

72

In [16]:
x=list(range(100))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
s=set(range(100))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [18]:
print(sys.getsizeof(x))

856

In [19]:
print(sys.getsizeof(s))

8408

In [20]:
st=set(range(10))

In [21]:
print(st)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

**Sets are truly immutable as we can't even add lists or tuples(containing lists) or dictionaries in set.**

In [22]:
A={1,3,5}
B={1,2,3,4,5}

In [23]:
print(A.issubset(B))

True

In [24]:
print(B.issuperset(A))

True

In [25]:
C1=A.union(B)
C2=A|B
print('Using method:', C1)
print('Using operator:',C2)

Using method: {1, 2, 3, 4, 5}
Using operator: {1, 2, 3, 4, 5}

In [26]:
C3=A.intersection(B)
C4=A & B
print(C1,C2)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [27]:
C5 = B.difference(A)
C6 = B - A 
print(C5,C6)

{2, 4} {2, 4}

### Although sets are fast, they take up a lot of memory which is a disadvantage.
### Another disadvantage of sets are that set objects are not subscriptable.

## DICTIONARIES

In [28]:
d={}
d['reeshabh']=9168049419
d['ramya']=7878787878
d['ravi']=3434343434

In [29]:
print(d)

{'reeshabh': 9168049419, 'ramya': 7878787878, 'ravi': 3434343434}

In [30]:
type(d)

dict

In [31]:
 with open('sample3.txt') as d:
        line=d.readlines()
print(line)

['It was Monday morning. Swaminathan was reluctant to open his eyes. He considered Monday specially unpleasant in the calendar. After the delicious freedom of Saturday and Sunday, it was difficult to get into the Monday mood of work and discipline. He shuddered at the very thought of school: that dismal yellow building; the fire-eyed Vedanayagam, his class-teacher; and the Head Master with his thin long cane....']

In [32]:
s=line[0]

In [33]:
malgudi=s.split(' ')

In [34]:
print(malgudi)

['It', 'was', 'Monday', 'morning.', 'Swaminathan', 'was', 'reluctant', 'to', 'open', 'his', 'eyes.', 'He', 'considered', 'Monday', 'specially', 'unpleasant', 'in', 'the', 'calendar.', 'After', 'the', 'delicious', 'freedom', 'of', 'Saturday', 'and', 'Sunday,', 'it', 'was', 'difficult', 'to', 'get', 'into', 'the', 'Monday', 'mood', 'of', 'work', 'and', 'discipline.', 'He', 'shuddered', 'at', 'the', 'very', 'thought', 'of', 'school:', 'that', 'dismal', 'yellow', 'building;', 'the', 'fire-eyed', 'Vedanayagam,', 'his', 'class-teacher;', 'and', 'the', 'Head', 'Master', 'with', 'his', 'thin', 'long', 'cane....']

In [101]:
def remove(words,x):
    for i in range(len(words)):
        y=words[i]
        for j in range(len(y)):
            words[i]=y.replace(x,'')
    return words

In [102]:
remove(malgudi,',')
remove(malgudi,'.')
remove(malgudi,';')
remove(malgudi,':')
remove(malgudi,'!')

['It',
 'was',
 'Monday',
 'morning',
 'Swaminathan',
 'was',
 'reluctant',
 'to',
 'open',
 'his',
 'eyes',
 'He',
 'considered',
 'Monday',
 'specially',
 'unpleasant',
 'in',
 'the',
 'calendar',
 'After',
 'the',
 'delicious',
 'freedom',
 'of',
 'Saturday',
 'and',
 'Sunday',
 'it',
 'was',
 'difficult',
 'to',
 'get',
 'into',
 'the',
 'Monday',
 'mood',
 'of',
 'work',
 'and',
 'discipline',
 'He',
 'shuddered',
 'at',
 'the',
 'very',
 'thought',
 'of',
 'school',
 'that',
 'dismal',
 'yellow',
 'building',
 'the',
 'fire-eyed',
 'Vedanayagam',
 'his',
 'class-teacher',
 'and',
 'the',
 'Head',
 'Master',
 'with',
 'his',
 'thin',
 'long',
 'cane']

In [37]:
s=set(malgudi)
print(s)

{'very', 'open', 'of', 'discipline', 'It', 'yellow', 'He', 'it', 'cane', 'specially', 'Sunday', 'get', 'thin', 'considered', 'shuddered', 'fire-eyed', 'eyes', 'at', 'building', 'work', 'Saturday', 'Master', 'with', 'dismal', 'into', 'unpleasant', 'Vedanayagam', 'that', 'Head', 'thought', 'in', 'freedom', 'Monday', 'his', 'Swaminathan', 'to', 'class-teacher', 'the', 'and', 'morning', 'school', 'calendar', 'reluctant', 'After', 'mood', 'difficult', 'delicious', 'long', 'was'}

In [38]:
len(malgudi)

66

In [39]:
len(s)

49

In [40]:
for x in malgudi:
    print(x,end=' ')

It was Monday morning Swaminathan was reluctant to open his eyes He considered Monday specially unpleasant in the calendar After the delicious freedom of Saturday and Sunday it was difficult to get into the Monday mood of work and discipline He shuddered at the very thought of school that dismal yellow building the fire-eyed Vedanayagam his class-teacher and the Head Master with his thin long cane

In [41]:
d={}
for x in s:
    d[x]=0
print(d)

{'very': 0, 'open': 0, 'of': 0, 'discipline': 0, 'It': 0, 'yellow': 0, 'He': 0, 'it': 0, 'cane': 0, 'specially': 0, 'Sunday': 0, 'get': 0, 'thin': 0, 'considered': 0, 'shuddered': 0, 'fire-eyed': 0, 'eyes': 0, 'at': 0, 'building': 0, 'work': 0, 'Saturday': 0, 'Master': 0, 'with': 0, 'dismal': 0, 'into': 0, 'unpleasant': 0, 'Vedanayagam': 0, 'that': 0, 'Head': 0, 'thought': 0, 'in': 0, 'freedom': 0, 'Monday': 0, 'his': 0, 'Swaminathan': 0, 'to': 0, 'class-teacher': 0, 'the': 0, 'and': 0, 'morning': 0, 'school': 0, 'calendar': 0, 'reluctant': 0, 'After': 0, 'mood': 0, 'difficult': 0, 'delicious': 0, 'long': 0, 'was': 0}

In [42]:
for x in malgudi:
    d[x]+=1
print(d)

{'very': 1, 'open': 1, 'of': 3, 'discipline': 1, 'It': 1, 'yellow': 1, 'He': 2, 'it': 1, 'cane': 1, 'specially': 1, 'Sunday': 1, 'get': 1, 'thin': 1, 'considered': 1, 'shuddered': 1, 'fire-eyed': 1, 'eyes': 1, 'at': 1, 'building': 1, 'work': 1, 'Saturday': 1, 'Master': 1, 'with': 1, 'dismal': 1, 'into': 1, 'unpleasant': 1, 'Vedanayagam': 1, 'that': 1, 'Head': 1, 'thought': 1, 'in': 1, 'freedom': 1, 'Monday': 3, 'his': 3, 'Swaminathan': 1, 'to': 2, 'class-teacher': 1, 'the': 6, 'and': 3, 'morning': 1, 'school': 1, 'calendar': 1, 'reluctant': 1, 'After': 1, 'mood': 1, 'difficult': 1, 'delicious': 1, 'long': 1, 'was': 3}

In [43]:
print(d['was'])

3

In [44]:
print(d['and'])

3

In [45]:
print(d['his'])

3

In [46]:
print(d['the'])

6

In [47]:
# Find the word with max frequency and it's frequency
max_freq=0
max_freq_word=None
for x in d:
    if d[x]>max_freq:
        max_freq=d[x]
        max_freq_word=x
print(max_freq_word)
print(max_freq)

the
6

In [48]:
d={0:0,1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8}

In [49]:
print(d.keys())

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [50]:
print(d.values())

dict_values([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [51]:
print(d.items())

dict_items([(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8)])

## TUPLES

In [52]:
l=list(range(10))

In [53]:
l.append(100)

In [54]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [55]:
t=tuple(range(10))

In [56]:
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

A Tuple has only two possibilities: _**tuple.count**_ and _**tuple.index**_

### What is the use of a tuple then?
- Sometimes we don't want things to be changed. It's better if they are fixed.
- Tuples take up th ele

In [57]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [58]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [59]:
s=string.ascii_letters

In [60]:
set(s)

{'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [61]:
s=set(s)
print(s)

{'s', 'a', 'N', 'l', 'c', 'E', 'x', 'z', 'b', 'h', 'u', 'Y', 'm', 'i', 'o', 'k', 'J', 'e', 'j', 'd', 'A', 'n', 'O', 'y', 'p', 'W', 'Z', 'H', 't', 'I', 'L', 'M', 'V', 'Q', 'q', 'w', 'X', 'v', 'T', 'g', 'D', 'f', 'C', 'B', 'K', 'U', 'R', 'r', 'G', 'S', 'P', 'F'}

In [62]:
alpha=tuple(s)
print(alpha)

('s', 'a', 'N', 'l', 'c', 'E', 'x', 'z', 'b', 'h', 'u', 'Y', 'm', 'i', 'o', 'k', 'J', 'e', 'j', 'd', 'A', 'n', 'O', 'y', 'p', 'W', 'Z', 'H', 't', 'I', 'L', 'M', 'V', 'Q', 'q', 'w', 'X', 'v', 'T', 'g', 'D', 'f', 'C', 'B', 'K', 'U', 'R', 'r', 'G', 'S', 'P', 'F')

In [63]:
alpha=tuple(list(string.ascii_letters))

In [64]:
print(alpha)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

In [65]:
x='reeshabh&%IndiaBharatMaharashtraPunjab$#Bhubaneswar'

In [66]:
l=list(x)

In [67]:
print(l)

['r', 'e', 'e', 's', 'h', 'a', 'b', 'h', '&', '%', 'I', 'n', 'd', 'i', 'a', 'B', 'h', 'a', 'r', 'a', 't', 'M', 'a', 'h', 'a', 'r', 'a', 's', 'h', 't', 'r', 'a', 'P', 'u', 'n', 'j', 'a', 'b', '$', '#', 'B', 'h', 'u', 'b', 'a', 'n', 'e', 's', 'w', 'a', 'r']

In [68]:
r=[]
for p in l:
    if p in alpha:
        r.append(p)

In [69]:
print(r)

['r', 'e', 'e', 's', 'h', 'a', 'b', 'h', 'I', 'n', 'd', 'i', 'a', 'B', 'h', 'a', 'r', 'a', 't', 'M', 'a', 'h', 'a', 'r', 'a', 's', 'h', 't', 'r', 'a', 'P', 'u', 'n', 'j', 'a', 'b', 'B', 'h', 'u', 'b', 'a', 'n', 'e', 's', 'w', 'a', 'r']

In [70]:
import sys

In [71]:
a=list(range(100))
print(sys.getsizeof(a))

856

In [72]:
b=set(range(100))
print(sys.getsizeof(b))

8408

In [73]:
#TUPLE TAKES THE LEAST SYSTEM MEMORY
c=tuple(range(100))
print(sys.getsizeof(c))

840

## Graded Assignment 6 Rough work

In [74]:
import random as r

nums=[]
for i in range(10000):
    nums.append(r.randint(1,10))

In [75]:
numset=set(nums)

In [76]:
print(numset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [77]:
P={}
for x in numset:
    P[x]=0
print(P)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

In [78]:
for e in nums:
    P[e]+=1
print(P)

{1: 979, 2: 968, 3: 989, 4: 1055, 5: 1017, 6: 1043, 7: 991, 8: 971, 9: 987, 10: 1000}

In [79]:
def check(P,N):
    S=0
    for num in P:
        S+=P[num]
    return S==N
print(check(P,len(nums)))

True

In [80]:
P[5]/10000

0.1017

In [81]:
def most_freq(P):
    maxi=0
    freq_num=None
    for key in P:
        if P[key]>=maxi:
            maxi=P[key]
            freq_num=key
    return freq_num,maxi
print(most_freq(P))

(4, 1055)

In [82]:
def streak(nums):
    flag=False
    for i in range(len(nums)-4):
        if nums[i]==5:
            if nums[i:i+5]==[5,5,5,5,5]:
                flag=True
                break
    return flag
l=[1,2,5,5,5,5,5,1,2,10]
print(streak(l))

True

In [83]:
streak(nums)

False

In [84]:
#Alternate way
def streak(nums):
    if 5 not in nums:
        return False
    count=0
    for num in nums:
        if num==5:
            count+=1
            if count==5:
                return True
        else:
            count=0
    return False

print(streak(nums))

False

In [85]:
a=(1,2,3)
b=(10)
c=20,
d=tuple([10])
f=1,2,3
print(type(a),type(b),type(c),type(d),type(f))

<class 'tuple'> <class 'int'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [86]:
s1={}
type(s)

set

In [87]:
s2=set([1])
type(s2)

set

In [88]:
s3={1}
type(s3)

set

In [89]:
s4=set()
type(s4)

set

In [90]:
a=1,
s6=set(a)
type(s6)

set

In [91]:
print(s6)

{1}

### Scores list

In [92]:
scores = [ { 'Chemistry': 78,
    'CityTown': 'Erode',
    'DateOfBirth': '7 Nov',
    'Gender': 'M',
    'Mathematics': 68,
    'Name': 'Bhuvanesh',
    'Physics': 64,
    'SeqNo': 0,
    'Total': 210},
    { 'Chemistry': 91,
    'CityTown': 'Salem',
    'DateOfBirth': '3 Jun',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Harish',
    'Physics': 45,
    'SeqNo': 1,
    'Total': 198},
    { 'Chemistry': 77,
    'CityTown': 'Chennai',
    'DateOfBirth': '4 Jan',
    'Gender': 'M',
    'Mathematics': 57,
    'Name': 'Shashank',
    'Physics': 54,
    'SeqNo': 2,
    'Total': 188},
    { 'Chemistry': 78,
    'CityTown': 'Chennai',
    'DateOfBirth': '5 May',
    'Gender': 'F',
    'Mathematics': 42,
    'Name': 'Rida',
    'Physics': 53,
    'SeqNo': 3,
    'Total': 173},
    { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '17 Nov',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Ritika',
    'Physics': 64,
    'SeqNo': 4,
    'Total': 240},
    { 'Chemistry': 84,
    'CityTown': 'Chennai',
    'DateOfBirth': '8 Feb',
    'Gender': 'F',
    'Mathematics': 71,
    'Name': 'Akshaya',
    'Physics': 92,
    'SeqNo': 5,
    'Total': 247},
    { 'Chemistry': 87,
    'CityTown': 'Ambur',
    'DateOfBirth': '23 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Sameer',
    'Physics': 82,
    'SeqNo': 6,
    'Total': 250},
    { 'Chemistry': 76,
    'CityTown': 'Vellore',
    'DateOfBirth': '15 Mar',
    'Gender': 'M',
    'Mathematics': 84,
    'Name': 'Aditya',
    'Physics': 92,
    'SeqNo': 7,
    'Total': 252},
    { 'Chemistry': 51,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '28 Feb',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'Surya',
    'Physics': 64,
    'SeqNo': 8,
    'Total': 189},
    { 'Chemistry': 73,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '6 Dec',
    'Gender': 'M',
    'Mathematics': 63,
    'Name': 'Clarence',
    'Physics': 88,
    'SeqNo': 9,
    'Total': 224},
    { 'Chemistry': 68,
    'CityTown': 'Chennai',
    'DateOfBirth': '12 Jan',
    'Gender': 'F',
    'Mathematics': 64,
    'Name': 'Kavya',
    'Physics': 72,
    'SeqNo': 10,
    'Total': 204},
    { 'Chemistry': 92,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '30 Apr',
    'Gender': 'M',
    'Mathematics': 97,
    'Name': 'Rahul',
    'Physics': 92,
    'SeqNo': 11,
    'Total': 281},
    { 'Chemistry': 71,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Jan',
    'Gender': 'F',
    'Mathematics': 52,
    'Name': 'Srinidhi',
    'Physics': 64,
    'SeqNo': 12,
    'Total': 187},
    { 'Chemistry': 89,
    'CityTown': 'Madurai',
    'DateOfBirth': '6 May',
    'Gender': 'M',
    'Mathematics': 65,
    'Name': 'Gopi',
    'Physics': 73,
    'SeqNo': 13,
    'Total': 227},
    { 'Chemistry': 93,
    'CityTown': 'Trichy',
    'DateOfBirth': '23 July',
    'Gender': 'F',
    'Mathematics': 89,
    'Name': 'Sophia',
    'Physics': 62,
    'SeqNo': 14,
    'Total': 244},
    { 'Chemistry': 90,
    'CityTown': 'Theni',
    'DateOfBirth': '22 Sep',
    'Gender': 'F',
    'Mathematics': 76,
    'Name': 'Goutami',
    'Physics': 58,
    'SeqNo': 15,
    'Total': 224},
    { 'Chemistry': 43,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Dec',
    'Gender': 'M',
    'Mathematics': 87,
    'Name': 'Tauseef',
    'Physics': 86,
    'SeqNo': 16,
    'Total': 216},
    { 'Chemistry': 67,
    'CityTown': 'Chennai',
    'DateOfBirth': '14 Dec',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Arshad',
    'Physics': 81,
    'SeqNo': 17,
    'Total': 210},
    { 'Chemistry': 97,
    'CityTown': 'Erode',
    'DateOfBirth': '9 Oct',
    'Gender': 'F',
    'Mathematics': 72,
    'Name': 'Abirami',
    'Physics': 92,
    'SeqNo': 18,
    'Total': 261},
    { 'Chemistry': 62,
    'CityTown': 'Trichy',
    'DateOfBirth': '30 Aug',
    'Gender': 'M',
    'Mathematics': 56,
    'Name': 'Vetrivel',
    'Physics': 78,
    'SeqNo': 19,
    'Total': 196},
    { 'Chemistry': 91,
    'CityTown': 'Vellore',
    'DateOfBirth': '17 Sep',
    'Gender': 'M',
    'Mathematics': 93,
    'Name': 'Kalyan',
    'Physics': 68,
    'SeqNo': 20,
    'Total': 252},
    { 'Chemistry': 74,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '15 Mar',
    'Gender': 'F',
    'Mathematics': 78,
    'Name': 'Monika',
    'Physics': 69,
    'SeqNo': 21,
    'Total': 221},
    { 'Chemistry': 57,
    'CityTown': 'Nagercoil',
    'DateOfBirth': '17 Jul',
    'Gender': 'F',
    'Mathematics': 62,
    'Name': 'Priya',
    'Physics': 62,
    'SeqNo': 22,
    'Total': 181},
    { 'Chemistry': 88,
    'CityTown': 'Bengaluru',
    'DateOfBirth': '13 May',
    'Gender': 'F',
    'Mathematics': 97,
    'Name': 'Deepika',
    'Physics': 91,
    'SeqNo': 23,
    'Total': 276},
    { 'Chemistry': 58,
    'CityTown': 'Madurai',
    'DateOfBirth': '26 Dec',
    'Gender': 'M',
    'Mathematics': 44,
    'Name': 'Siddharth',
    'Physics': 72,
    'SeqNo': 24,
    'Total': 174},
    { 'Chemistry': 92,
    'CityTown': 'Chennai',
    'DateOfBirth': '16 May',
    'Gender': 'F',
    'Mathematics': 87,
    'Name': 'Geeta',
    'Physics': 75,
    'SeqNo': 25,
    'Total': 254},
    { 'Chemistry': 82,
    'CityTown': 'Chennai',
    'DateOfBirth': '22 Jul',
    'Gender': 'M',
    'Mathematics': 74,
    'Name': 'JK',
    'Physics': 71,
    'SeqNo': 26,
    'Total': 227},
    { 'Chemistry': 52,
    'CityTown': 'Madurai',
    'DateOfBirth': '4 Mar',
    'Gender': 'M',
    'Mathematics': 81,
    'Name': 'Jagan',
    'Physics': 76,
    'SeqNo': 27,
    'Total': 209},
    { 'Chemistry': 83,
    'CityTown': 'Madurai',
    'DateOfBirth': '10 Sep',
    'Gender': 'F',
    'Mathematics': 74,
    'Name': 'Nisha',
    'Physics': 83,
    'SeqNo': 28,
    'Total': 240},
    { 'Chemistry': 81,
    'CityTown': 'Vellore',
    'DateOfBirth': '13 Oct',
    'Gender': 'M',
    'Mathematics': 72,
    'Name': 'Naveen',
    'Physics': 66,
    'SeqNo': 29,
    'Total': 219}]

In [93]:
scores_dict = {1:{ 'Chemistry': 78,
    'CityTown': 'Erode',
    'DateOfBirth': '7 Nov',
    'Gender': 'M',
    'Mathematics': 68,
    'Name': 'Bhuvanesh',
    'Physics': 64,
    'SeqNo': 0,
    'Total': 210},
    2:{ 'Chemistry': 91,
    'CityTown': 'Salem',
    'DateOfBirth': '3 Jun',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Harish',
    'Physics': 45,
    'SeqNo': 1,
    'Total': 198}}
type(scores_dict)

dict

In [94]:
'''for i in range(1,3):
    scores_dict[i]['Chem'] = scores_dict[i].pop('Chemistry')
print(scores_dict)'''

"for i in range(1,3):\n    scores_dict[i]['Chem'] = scores_dict[i].pop('Chemistry')\nprint(scores_dict)"

In [95]:
scores_dict[5]={'Chemistry': 91,
    'CityTown': 'Salem',
    'DateOfBirth': '3 Jun',
    'Gender': 'M',
    'Mathematics': 62,
    'Name': 'Anushka',
    'Physics': 45,
    'SeqNo': 1,
    'Total': 198}

In [96]:
scores_dict

{1: {'Chemistry': 78,
  'CityTown': 'Erode',
  'DateOfBirth': '7 Nov',
  'Gender': 'M',
  'Mathematics': 68,
  'Name': 'Bhuvanesh',
  'Physics': 64,
  'SeqNo': 0,
  'Total': 210},
 2: {'Chemistry': 91,
  'CityTown': 'Salem',
  'DateOfBirth': '3 Jun',
  'Gender': 'M',
  'Mathematics': 62,
  'Name': 'Harish',
  'Physics': 45,
  'SeqNo': 1,
  'Total': 198},
 5: {'Chemistry': 91,
  'CityTown': 'Salem',
  'DateOfBirth': '3 Jun',
  'Gender': 'M',
  'Mathematics': 62,
  'Name': 'Anushka',
  'Physics': 45,
  'SeqNo': 1,
  'Total': 198}}

In [97]:
scores_dict.popitem()
print(scores_dict)

{1: {'Chemistry': 78, 'CityTown': 'Erode', 'DateOfBirth': '7 Nov', 'Gender': 'M', 'Mathematics': 68, 'Name': 'Bhuvanesh', 'Physics': 64, 'SeqNo': 0, 'Total': 210}, 2: {'Chemistry': 91, 'CityTown': 'Salem', 'DateOfBirth': '3 Jun', 'Gender': 'M', 'Mathematics': 62, 'Name': 'Harish', 'Physics': 45, 'SeqNo': 1, 'Total': 198}}

In [98]:
type(scores_dict)

dict

In [99]:
del scores_dict[1]

In [100]:
scores_dict

{2: {'Chemistry': 91,
  'CityTown': 'Salem',
  'DateOfBirth': '3 Jun',
  'Gender': 'M',
  'Mathematics': 62,
  'Name': 'Harish',
  'Physics': 45,
  'SeqNo': 1,
  'Total': 198}}